@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    max-width: 370px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    padding: 15px;
    position: relative;
}
.container::before{
    content: '';
    position: absolute;
    height: 36%;
    width: 100%;
    top: 0;
    background-color: #4070f4;
    border-radius: 24px 24px 0 0;
}

.desc{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
    
} 
.desc .monImage{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 50%;
    border: 3px solid #fff;
}

.container .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.name{
    font-size: 22px;
    font-weight: 500px;
}
.job{
    font-size: 15px;
    font-weight: 300px;
}

.int{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;
}

.but{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.button{
    border: none;
    background-color: #4070f4;
    color: #fff;
    margin: 0px 10px;
    padding: 8px 24px;
    border-radius: 25px;
    font-weight: 400px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.button:hover{
    background-color: #154fef;
}

.dets{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.det{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0px 20px;
    border-right: 2px solid #e7e7e7;
}
.det i{
    font-size: 18px;
    font-weight: 6px;
}
.det:last-child{
    border-right: none;
}